{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-jinja-template", "prettier-plugin-css-order"],
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "jinja-template"
            }
        }
    ]
}
