// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -*/
/*--       Side By Side         -*/
/*-- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-313 {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            /* set text align to left if content needs to be left aligned */
            text-align: left;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-quote {
            position: relative;
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            border-radius: calc(16 / 16 * 1rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
        }

        .cs-quote-text {
            display: block;
            margin: 0 0 calc(16 / 16 * 1rem);
            color: #767676;
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
        }

        .cs-name {
            display: block;
            margin: 0 0 calc(4 / 16 * 1rem);
            color: var(--headerColor);
            font-weight: bold;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
        }

        .cs-job {
            display: block;
            color: #767676;
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
        }

        .cs-quote-icon {
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: calc(0 / 16 * 1rem);
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
        }

        .cs-image-group {
            position: relative;
            /* using ems so we can use font size to scale the whole section */
            width: calc(631 / 16 * 1em);
            height: calc(636 / 16 * 1em);
            /* scaling the font size with the view width */
            font-size: min(2.31vw, 0.7em);
        }

        .cs-picture {
            display: block;
            position: absolute;
            border-radius: calc(24 / 16 * 1em);
            /* clips img tag corners */
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            top: 0;
            left: 0;
            width: calc(522 / 16 * 1em);
            height: calc(581 / 16 * 1em);
        }

        .cs-picture2 {
            right: 0;
            bottom: 0;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            background-color: #fff;
            width: calc(414 / 16 * 1em);
            height: calc(400 / 16 * 1em);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-313 {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: calc(52 / 16 * 1rem);
        }

        .cs-image-group {
            flex: none;
            font-size: min(1.2vw, 1em);
        }

        .cs-content {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-313 {
            .cs-image-group {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-quote-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-quote {
                background-color: var(--accent);
            }

            .cs-job {
                opacity: 0.8;
                color: var(--bodyTextColorWhite);
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}
