// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -*/
/*--          Contact           -*/
/*-- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-contact-265 {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            width: 100%;
            /* set text align to left if content needs to be left aligned */
            text-align: left;
        }

        #cs-form-265 {
            label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                /* 12px - 20px */
                margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
                color: var(--headerColor);
                font-weight: 700;
                font-size: calc(16 / 16 * 1rem);
                line-height: 1.5em;
            }

            .cs-label-message {
                /* 32px - 48px */
                margin-bottom: clamp(2rem, 6.3vw, 3rem);
            }

            input,
            textarea {
                transition: border 0.3s;
                /* prevents border & padding from affecting height */
                box-sizing: border-box;
                margin-top: calc(4 / 16 * 1rem);
                border: 1px solid #b4b2c7;
                border-radius: calc(4 / 16 * 1rem);
                padding-left: calc(20 / 16 * 1rem);
                width: 100%;
                height: calc(64 / 16 * 1rem);
                font-size: calc(16 / 16 * 1rem);

                &:hover {
                    border: 1px solid var(--primary);
                }
            }

            textarea {
                padding-top: calc(20 / 16 * 1rem);
                min-height: calc(120 / 16 * 1rem);
                font-family: inherit;
            }

            .cs-button-solid {
                width: 100%;
            }
        }

        .cs-button-solid {
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            margin: 0;
            border-radius: calc(4 / 16 * 1rem);
            background-color: var(--primary);
            padding: 0 calc(24 / 16 * 1rem);
            min-width: calc(150 / 16 * 1rem);
            color: #fff;
            font-weight: 700;
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                z-index: -1;
                transition: width 0.3s;
                border-radius: calc(4 / 16 * 1rem);
                background: #000;
                width: 0%;
                height: 100%;
                content: "";
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            border: none;
            width: 100%;
            &:hover {
                cursor: pointer;
            }
        }

        .cs-right-section {
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border-radius: calc(4 / 16 * 1rem);
            /* 24px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
            width: 100%;
            height: calc(320 / 16 * 1rem);
            /* cuts off corners on img tag */
            overflow: hidden;
        }

        .cs-header {
            display: block;
            margin-bottom: calc(8 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            font-weight: 700;
            /* 16px - 20px */
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.2em;
        }

        .cs-link {
            display: block;
            position: relative;
            margin-bottom: calc(20 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            /* 16px - 20px */
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.2em;
            text-decoration: none;

            &:before {
                display: block;
                position: absolute;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                opacity: 1;
                transition: width 0.3s;
                /* current color of the parent */
                background: currentColor;
                width: 0%;
                height: 2px;
                /* Animated underline */
                content: "";
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-block {
            /* sends second address line to the bottom on its own line */
            display: block;
        }

        .cs-bg-picture {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: transform 0.6s;
            width: 100%;
            height: 100%;

            &:before {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                background: linear-gradient(
                    180deg,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.8) 100%
                );
                width: 100%;
                height: 100%;
                /* background color overlay */
                content: "";
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #cs-contact-265 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        #cs-form-265 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;

            label {
                width: 48%;
            }

            .cs-label-message {
                width: 100%;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-contact-265 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: calc(80 / 16 * 1rem);
        }

        .cs-left-section {
            max-width: calc(630 / 16 * 1rem);
        }

        #cs-form-265 {
            label {
                width: 100%;
            }
        }

        .cs-right-section {
            /* prevents flexbox from squishing it */
            flex: none;
            width: 40vw;
            max-width: calc(542 / 16 * 1rem);
            /* changes to 578px at 1300px wide */
            height: calc(686 / 16 * 1rem);

            &:hover {
                .cs-bg-picture {
                    transform: scale(1.1);
                }
            }
        }

        .cs-block {
            /* goes back to inline so it stays "in line" with the rest of the text */
            display: inline-block;
        }
    }
}

/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #cs-contact-265 {
        #cs-form-265 {
            column-gap: calc(0 / 16 * 1rem);
            label {
                width: 48%;
                max-width: calc(305 / 16 * 1rem);
            }

            .cs-label-message {
                max-width: 100%;
            }
        }

        .cs-right-section {
            height: calc(578 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-contact-265 {
            .cs-text,
            .cs-title {
                color: var(--bodyTextColorWhite);
            }

            #cs-form-265 {
                label,
                input,
                textarea {
                    background-color: transparent;
                    color: var(--bodyTextColorWhite);

                    &::placeholder {
                        /* lighten up the color of the text by 40%*/
                        filter: brightness(1.4);
                    }
                }
            }

            .cs-bg-picture {
                background-color: #000;

                img {
                    /* lets parent background-color bleed through and darken it */
                    opacity: 0.5;
                }
            }
        }
    }
}
