// ─────────────────────────────────────────────────────────────────────────────
// HOME PAGE STYLES
// Below-the-fold styles for the homepage that load after critical styles.
// The first section of the home page should go in critical.scss, while the
// rest of the home page styles go in here.
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            /* set text align to left if content needs to be left aligned */
            text-align: left;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-quote {
            position: relative;
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            border-radius: calc(16 / 16 * 1rem);
            background-color: #f7f7f7;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
        }

        .cs-quote-text {
            display: block;
            margin: 0 0 calc(16 / 16 * 1rem);
            color: #767676;
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
        }

        .cs-name {
            display: block;
            margin: 0 0 calc(4 / 16 * 1rem);
            color: var(--headerColor);
            font-weight: bold;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
        }

        .cs-job {
            display: block;
            color: #767676;
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
        }

        .cs-quote-icon {
            position: absolute;
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
            bottom: calc(0 / 16 * 1rem);
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
        }

        .cs-image-group {
            position: relative;
            /* using ems so we can use font size to scale the whole section */
            width: calc(631 / 16 * 1em);
            height: calc(636 / 16 * 1em);
            /* scaling the font size with the view width */
            font-size: min(2.31vw, 0.7em);
        }

        .cs-picture {
            display: block;
            position: absolute;
            border-radius: calc(24 / 16 * 1em);
            /* clips img tag corners */
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            top: 0;
            left: 0;
            width: calc(522 / 16 * 1em);
            height: calc(581 / 16 * 1em);
        }

        .cs-picture2 {
            right: 0;
            bottom: 0;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            background-color: #fff;
            width: calc(414 / 16 * 1em);
            height: calc(400 / 16 * 1em);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-313,
    #RPsbsr-313 {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: calc(52 / 16 * 1rem);
        }

        .cs-image-group {
            flex: none;
            font-size: min(1.2vw, 1em);
        }

        .cs-content {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-313,
        #RPsbsr-313 {
            .cs-image-group {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-quote-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-quote {
                background-color: var(--accent);
            }

            .cs-job {
                opacity: 0.8;
                color: var(--bodyTextColorWhite);
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-313 {
        background-color: #f7f7f7;
        .cs-picture1 {
            right: 0;
            left: auto;
        }

        .cs-picture2 {
            right: auto;
            left: 0;
        }

        .cs-quote {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbsr-313 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-313 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-48 {
        position: relative;
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            width: 100%;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-title {
            margin: 0;
            max-width: 20ch;
        }

        .cs-image-group {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
            margin: 0;
            padding: 0;
            width: 100%;
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: min(1.1vw, 1em);
        }

        .cs-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            /* 8px - 20px */
            gap: clamp(0.5rem, 2vw, 1.25rem);
            width: 100%;
        }

        .cs-picture {
            display: block;
            position: relative;
            border-radius: calc(8 / 16 * 1rem);
            width: 100%;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-row-1 {
            .cs-picture-1 {
                height: calc(567 / 16 * 1em);
            }

            .cs-picture-2 {
                height: calc(629 / 16 * 1em);
            }

            .cs-picture-3 {
                height: calc(512 / 16 * 1em);
            }
        }

        .cs-row-2 {
            .cs-picture-1 {
                height: calc(492 / 16 * 1em);
            }

            .cs-picture-2 {
                height: calc(517 / 16 * 1em);
            }

            .cs-picture-3 {
                height: calc(629 / 16 * 1em);
            }
        }

        .cs-row-3 {
            .cs-picture-1 {
                height: calc(625 / 16 * 1em);
            }

            .cs-picture-2 {
                height: calc(452 / 16 * 1em);
            }

            .cs-picture-3 {
                height: calc(629 / 16 * 1em);
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-48 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-67 {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            width: 100%;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-card-group {
            display: flex;
            column-gap: calc(20 / 16 * 1rem);
            row-gap: calc(64 / 16 * 1rem);
            flex-direction: column;
            margin: 0;
            padding: 0;
        }

        .cs-item {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;
            /* pushes up the same amount the cs-item-img overlaps the card */
            margin: calc(40 / 16 * 1rem) 0 0 0;
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
            border-radius: calc(8 / 16 * 1rem);
            background: #fff;
            /* Padding L & R - 16px - 32px */
            padding: calc(60 / 16 * 1rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            list-style: none;
            text-align: left;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-item-img {
            position: absolute;
            top: calc(-40 / 16 * 1rem);
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
        }

        .cs-item-text {
            margin: 0 0 calc(20 / 16 * 1rem);
            border-bottom: 1px solid #e8e9ec;
            padding-bottom: calc(20 / 16 * 1rem);
            color: var(--bodyTextColor);
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
        }

        .cs-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* margin-top auto pushes up against the rest of the card, that way when one card has more text than the other, the reviewer info is always pushed to the bottom and lined up with the rest of them.  This ensures better responsiveness for changing content */
            margin: auto 0 0 0;
            width: 100%;
        }

        .cs-flex-group {
            margin: 0;
            width: 100%;
        }

        .cs-name {
            display: block;
            margin: 0;
            width: 40%;
            color: var(--headerColor);
            font-weight: 700;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
        }

        .cs-desc {
            display: block;
            color: #7d799c;
            font-weight: 400;
            font-size: calc(14 / 16 * 1rem);
        }

        .cs-item-stars {
            width: calc(96 / 16 * 1rem);
            height: calc(16 / 16 * 1rem);
        }

        .cs-button-solid {
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            margin: 0;
            border-radius: calc(4 / 16 * 1rem);
            background-color: var(--primary);
            padding: 0 calc(24 / 16 * 1rem);
            min-width: calc(150 / 16 * 1rem);
            color: #fff;
            font-weight: 700;
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
                z-index: -1;
                transition: width 0.3s;
                border-radius: calc(4 / 16 * 1rem);
                background: #000;
                width: 0%;
                height: 100%;
                content: "";
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-67 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-67 {
            .cs-title,
            .cs-text,
            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: rgba(0, 0, 0, 0.2);
            }

            .cs-desc {
                color: var(--primaryLight);
            }
        }
    }
}
