// ─────────────────────────────────────────────────────────────────────────────
// PAGE STYLES
// Interior pages have their own stylesheet for styles that only exist on
// that page. Any styles shared between pages, including repeated sections,
// should go into root.scss
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-67 {
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            margin: auto;
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            width: 100%;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-card-group {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            column-gap: calc(20 / 16 * 1rem);
            row-gap: calc(64 / 16 * 1rem);
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .cs-item {
            display: flex;
            position: relative;
            grid-column: span 12;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;
            /* pushes up the same amount the cs-item-img overlaps the card */
            margin: calc(40 / 16 * 1rem) 0 0 0;
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
            border-radius: calc(4 / 16 * 1rem);
            background: #fff;
            /* Padding L & R - 16px - 32px */
            padding: calc(60 / 16 * 1rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            width: 100%;
            list-style: none;
            text-align: left;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-item-img {
            position: absolute;
            top: calc(-40 / 16 * 1rem);
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
        }

        .cs-item-text {
            margin: 0 0 calc(20 / 16 * 1rem);
            border-bottom: 1px solid #e8e9ec;
            padding-bottom: calc(20 / 16 * 1rem);
            color: var(--bodyTextColor);
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
        }

        .cs-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* margin-top auto pushes up against the rest of the card, that way when one card has more text than the other, the reviewer info is always pushed to the bottom and lined up with the rest of them.  This ensures better responsiveness for changing content */
            margin: auto 0 0 0;
            width: 100%;
        }

        .cs-flex-group {
            margin: 0;
            width: 100%;
        }

        .cs-name {
            display: block;
            margin: 0;
            width: 40%;
            color: var(--headerColor);
            font-weight: 700;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
        }

        .cs-desc {
            display: block;
            color: #7d799c;
            font-weight: 400;
            font-size: calc(14 / 16 * 1rem);
        }

        .cs-item-stars {
            width: calc(96 / 16 * 1rem);
            height: calc(16 / 16 * 1rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-67 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-67 {
        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-67 {
            .cs-title,
            .cs-text,
            .cs-item-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: rgba(0, 0, 0, 0.2);
            }

            .cs-desc {
                color: var(--primaryLight);
            }
        }
    }
}
